p {font-family:Montserrat;color: white;}
h2{font-family:Montserrat;color: white;}
h1{font-family:Montserrat;color: white;}
body{
	background: url(images/5.jpg);
	background-size: 100%;
	}
.form_input,
.form_button{
	text-decoration: none;
	font-family:Montserrat;
	letter-spacing: 1px;
	font-size: 16px;
}

.form_button{
	text-decoration: none;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	color: #fff;
	background-color: #E0FFFF;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}
a{
	text-decoration: none;
	font-family:Montserrat;
}
