p {font-family:Montserrat;color:black;}
h2{font-family:Montserrat;color:black;}
h1{font-family:Montserrat;color:black;}
button{color:white; font-family: Montserrat;}
body{
	background: url(images/6.jpg);
	background-size: 100%;
	
}
.form_input,
.form_button{
	font-family:Montserrat;
	letter-spacing: 1px;
	font-size: 16px;
}

.form_button{
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	color: #fff;
	background-color: #0071f0;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}
a{
	text-decoration: none;
	color: white;
	font-family:Montserrat;;
}
