body{
	background: url(images/4.jpg);
	background-size: 100%;
	p:font-family:Montserrat;color: white;
	h2:font-family:Montserrat;color: white;
	h1:font-family:Montserrat;color: white;
	
}
.form_input,
.form_button{
	font-family:Montserrat;
	letter-spacing: 1px;
	font-size: 16px;
}

.form_button{
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	background-color: #0071f0;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}
a{
	text-decoration: none;
	color: white;
	font-family:Montserrat;
}
.form_button:focus,
.form_button:hover{
	background-color: rgba(0, 113, 240, 0.7);
}
